.button {
  font-family: "Fermino";
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  padding: 10px 20px;
  color: #005fad;
}

.active {
  background-color: #0a61c9;
  color: #fff;
  font-weight: 600;
}
