.button {
  font-family: "Playfair";
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border-bottom: 2px solid transparent;
}

.active {
  color: #2a46e2;
  border-bottom: 2px solid #2a46e2;
}

@media only screen and (min-width: 1066px) {
  .button {
    margin-left: 20px;
    padding: 10px 0;
  }
}
