.accommodation {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.5s ease;
}

.accommodation.expanded {
  max-height: 200px;
  opacity: 1;
  transition: max-height 2s ease, opacity 1s ease;
}

.accommodation-card {
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  padding: 32px 44px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.accommodation-card:hover {
  cursor: pointer;
}

.accommodation-header {
  font-family: "IrishBelle";
}

.area {
  font-family: "Bluebird";
  font-size: 32px;
  margin-bottom: 4px;
}

.description {
  text-align: center;
  margin-top: 16px;
  font-family: "Playfair";
}
