.main-button {
  background-color: #005fad;
  font-family: "Playfair";
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 40px;
}

.main-button:hover {
  background-color: #1f35b2;
}
