.accommodation-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.area-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.region {
  font-family: "Playfair";
  font-size: 28px;
}

.title {
  font-family: "Fermino";
  font-size: 40px;
}
