.body {
  height: fit-content;
}

.header {
  display: flex;
  justify-content: left;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* margin-top: 40px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute; */
}

.show {
  margin-top: 40px;
  max-height: 300px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 200ms ease;
}

.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 200ms ease, margin-top 1s ease;
}

.main {
  margin: auto;
  text-align: center;
  padding: 0 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

@media only screen and (max-width: 1065px) {
  .menu {
    align-self: center;
  }

  .menu a {
    text-align: center;
    font-size: 24px;
  }

  .header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1066px) {
  .menu {
    margin-top: 40px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: fixed;
  }

  .main {
    width: 55%;
    height: 100vh;
  }
}

.title {
  font-family: "Fermino";
  font-size: 40px;
}

.volume {
  position: absolute;
  top: 15px;
  right: 15px;
}
