.body {
  height: fit-content;
}

.header {
  display: flex;
  justify-content: left;
}

.menu {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* margin-top: 40px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute; */
}

.show {
  visibility: visible;
}

.hide {
  display: none;
}

.main {
  margin: auto;
  text-align: center;
  padding: 0 30px 20px 30px;
  margin-top: 50px;
}

@media only screen and (max-width: 1065px) {
  .menu a {
    text-align: center;
    font-size: 28px;
  }

  .header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1066px) {
  .menu {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
  }

  .main {
    margin-top: 70px;
    width: 55%;
  }
}

.title {
  font-family: "Fermino";
  font-size: 40px;
}

.volume {
  position: absolute;
  top: 15px;
  right: 15px;
}
