.address {
  font-size: 18px;
}

.container {
  font-family: "Playfair";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days {
  font-size: 28px;
}

.icon {
  height: 100%;
  width: 100%;
}

.venue {
  font-size: 28px;
}

.venue-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  align-items: center;
}


@media (min-width: 660px) {

  .address {
    font-size: 25px;
  }

  .days {
    font-size: 40px;
  }

  .icon {
    height: 650px;
    width: 650px;
  }

  .venue {
    font-size: 40px;
  }
}


