.address {
  font-size: 24px;
}

.container {
  font-family: "Playfair";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days {
  font-size: 28px;
}

.icon {
  height: 100%;
  width: 100%;
}

.venue {
  font-size: 36px;
}

.venue-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  align-items: center;
}

@media (min-width: 600px) {
  .icon {
    height: 575px;
    width: 575px;
  }
}

@media (max-width: 1065px) {
}

@media (min-width: 1066px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
