.title {
  font-family: "Fermino";
  font-size: 40px;
}

.q-and-a {
  text-align: left;

  > p {
    margin-top: 50px;
    font-family: "Playfair";
    font-size: 25px;
    margin-bottom: 10px;
  }

  > span {
    font-family: "Bluebird";
    font-size: 30px;
  }
}

/* FAQ Item */
.question {
  margin-top: 50px;
  font-family: "Playfair";
  font-size: 25px;
  margin-bottom: 10px;
}

.answer {
  font-family: "Playfair";
  font-size: 20px;
}
