/* .title {
  font-family: "Fermino";
  font-size: 40px;
} */
.faq-subheader {
  font-family: "Avenir";
  justify-self: center;
  font-size: 16px;
  padding: 0px 40px;
}

.q-and-a {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 44px;
  margin-bottom: 44px;

  > p {
    margin-top: 50px;
    font-family: "Playfair";
    font-size: 25px;
    margin-bottom: 10px;
  }

  > span {
    font-family: "Bluebird";
    font-size: 30px;
  }
}

/* FAQ Item */
.question {
  font-family: "BethEllen";
  font-size: 17px;
}

.answer {
  font-family: "Avenir";
  margin-top: 8px;
  font-size: 14px;
}

@media only screen and (max-width: 1065px) {
  .q-and-a {
    padding: 0 48px;
  }
}

@media only screen and (min-width: 1066px) {
  .faq-subheader {
    width: 750px;
  }

  .question {
    font-size: 20px;
  }
  .answer {
    font-size: 16px;
  }
}
