.border {
  width: 100%;
}

div > p {
  font-family: "Playfair";
  font-size: 20px;
}

.error {
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 50px;
  align-items: center;
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 20px;
  padding: 80px 25px;
}

.form-header {
  font-family: "Careny";
  font-size: 50px;
}

.form-subheader {
  display: flex;
  flex-direction: column;
  font-family: "Playfair";
  font-size: 20px;
  gap: 10px;
}

.form-text {
  display: flex;
  flex-direction: column;
  font-family: "Playfair";
  font-size: 24px;
  gap: 16px;
  margin-top: 20px;

  > p {
    margin: 15px 0;
  }

  > div {
    font-size: 14px;
  }
}

.guest-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}

.guest-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hidden-container {
}

.home-button {
  font-family: "Fermino";
  width: 150px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.home-button:hover {
  background-color: antiquewhite;
}

.input-button {
  background-color: #005fad;
  font-family: "Playfair";
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 40px;
  margin-top: 24px;
}

.input-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-button:disabled {
  cursor: not-allowed;
}

label > svg {
  min-width: 50px;
}

.label {
  text-align: start;
}

.landing-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.landing-form.expanded {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 4s ease, opacity 200ms ease;
}

.landing-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px 30px;
}

.pulse {
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.rsvp-container {
  display: flex;
  flex-direction: column;
}

.rsvp-text {
  font-family: "Playfair";
  font-size: 20px;
  user-select: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.rsvp-text.expanded {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 4s ease, opacity 200ms ease;
}

@media (min-width: 600px) {
  .form-text {
    font-size: 32px;

    > div {
      font-size: 20px;
    }
  }

  .error {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .border {
    display: none;
  }

  .rsvp-container {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

@media (min-width: 1066px) {
  .form-container {
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 44px;
  }

  .input-button {
    font-size: 20px;
  }

  .landing-form {
    padding: 0 50px;
  }

  .landing-form-container {
    padding: 60px;
  }
}
